@import './styling/colors';

html,
body {
    padding: 0;
    margin: 0;
}

.app {
    color: black;
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
        width: 100%;

        .link {
            text-decoration: none;
            color: inherit;
        }
    }
}