@import './colors';

.lumeamea {
    display: flex;
    justify-content: center;
    .centered {
        width: 90%;
        max-width: 1024px;
        min-height: 700px;

        .second-navbar {
            display: flex;
            justify-content: left;
            gap: 20px;
            padding: 10px;
            padding-bottom: 0;
            margin-bottom: 40px;
            margin-top: 20px;
            border-bottom: 1px solid $darkPurple;
        }

        .second-navbar button {
            border: 1px solid transparent;

            &:hover {
                background-color: white;
                color: $darkPurple;
                box-shadow: 0 0 0px rgba(0, 0, 0, 0);
                border-right: 1px solid $darkPurple;
                border-left: 1px solid $darkPurple;
                border-top: 1px solid $darkPurple;
                border-radius: 5px 5px 0 0;
            }
        }

        .clicked {
            background-color: $darkPurple;
            color: white;
            border-radius: 5px 5px 0 0;
        }
    }
}

.evenimente {
    display: flex;
    flex-direction: column;
    gap: 60px;

    .event {
        border-left: 5px solid $lighterPurple;
        padding-left: 20px;
        padding-bottom: 10px;

        .name {
            font-size: 20px;
            font-weight: 800;
            color: $darkPurple;
            margin-bottom: 10px;
            text-align: left;
            background-color: rgba($lighterPurple, 0.1);
        }

        .desc {
            font-size: 15px;
            color: #555;
            margin-bottom: 10px;
            text-align: left;
            font-style: italic;
        }

        .subName {
            font-size: 18px;
            font-weight: 700;
            color: #444; 
            margin-top: 30px;
            margin-bottom: 5px;
            text-align: left;
        }

        .subDesc {
            font-size: 15px;
            color: #555;
            margin-bottom: 10px;
            text-align: left;
            font-style: italic;
        }

        .react-photo-gallery--gallery {
            margin-bottom: 10px;
        }
    }
}