@import './colors';

.writefull{
    width: 100%;
    display: flex;
    justify-content: center;
}

.content{
    width: 90%;
    max-width: 1024px;
    min-height: 600px;
    margin-top: 20px;
    padding: 0px 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    input{
        padding:10px;
        border: 1px solid lightgray;
        border-radius: 5px;
    }

    .editorContainer{
        height: 600px;
        border: none;
        .editor{
            height: 90%;
        }
    }

    button {

        width: max-content;
        padding: 10px 15px;
        border: none;
        cursor: pointer;
        background-color: white;
        border: 1px solid $darkPurple;
        border-radius: 5px;
        color: $darkPurple;
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

        &:hover {
            background-color: $darkPurple;
            color: white;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        }
    }
}